################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MotoRepuestosCR/.vs/MotoRepuestosCR
/MotoRepuestosCR/obj/Debug
