################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MotoRepuestosCR/.vs/MotoRepuestosCR
/MotoRepuestosCR/obj/Debug
/conexion/.vs/MotoRepuestosCR
/conexion/obj/Debug
/conexion/.vs
/conexion/packages
/conexion/bin/Debug
